<.header>
  New Topic
  <:subtitle>Use this form to manage topic records in your database.</:subtitle>
</.header>

<.topic_form changeset={@changeset} action={~p"/topics"} />

<.back navigate={~p"/topics"}>Back to topics</.back>
